.wrp {
    background-color: #275AAE !important;
    padding: 15px 20px 15px 20px !important;
    border-radius: 4px !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: fit-content !important;
}