.counters {


    &>h3 {
        margin-bottom: 35px;
    }

    &_wrp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 0 32px;
        @media(min-width: 756px) {
           padding: 0;
        }
    }

    &_text {
        margin-top: 30px;
        font-weight: 300;
        font-size: 16px;
    }

    &_item {
        display: grid;
        gap: 20px;
        border: 1px solid #D2D8E3;
        border-radius: 7px;
        padding: 29px 21px 22px;
        font-size: 15px;
        line-height: 17.78px;
        justify-content: center;
        @media(min-width: 756px) {
            max-width: 210px;
         }

       width: 100%;
        text-align: center;
        height: 315px;

        &_btn {
            width: 166px;
        }

        &_price {
            font-weight: 500;

            &_old {
                position: relative;
                color: #778AA9;
                width: fit-content;
                margin: 2px auto 0;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: calc(50% - 1px);
                    width: 100%;
                    height: 2px;
                    background-color: #ED1C24;
                }

            }
        }
    }
}