.top {
    display: grid;
    gap: 25px;
    max-width: 1338px;
    margin: auto;
    padding: 26px 19px 124px;

    @media(min-width: 1400px) {
        display: flex;
        justify-content: space-between;

        padding: 83px 19px 214px;
    }

    @media(min-width: 1920px) {
        max-width: 1448px;
    }

    &_bg {
        background-color: #F0F2F5;

        background-repeat: no-repeat;
        background-image: url("../../assets/svg/bg-main.svg");
        background-position: top right;
    }
}

.container {
    display: grid;
    gap: 50px;
    max-width: 1338px;
    padding: 0 19px;
    margin: auto;

    @media(min-width: 1400px) {
        gap: 80px;
    }

    @media(min-width: 1920px) {
        max-width: 1448px;
    }


}

.title {
    font-size: 30px;
    font-weight: 600;

    @media(min-width: 1400px) {
        font-size: 40px;
    }

    @media(min-width: 1920px) {
        font-size: 45px;
    }
}

.sub_title {

    font-weight: 400;
}

.text {
    font-size: 17px;
    line-height: 25px;
    margin-top: 11px;
    max-width: 620px;

    @media(min-width: 1400px) {
        margin-top: 30px;
    }
}

.stats {
    &_wrp {
        display: flex;
        gap: 58px;
        margin-top: 20px;

        @media(min-width: 1400px) {
            margin-top: 70px;
        }

        @media(min-width: 1920px) {
            margin-top: 78px;
        }
    }

    &_value {
        color: #FD4D4D;
        white-space: nowrap;
        font-size: 45px;
        font-weight: 700;

        @media(min-width: 1400px) {
            font-weight: 700;
            font-size: 100px;
        }
    }

    &_title {
        white-space: nowrap;
        font-size: 15px;
        font-weight: 400;

        @media(min-width: 1400px) {
            font-size: 45px;
            font-weight: 300;
        }
    }
}

.rct {
    display: none;
    width: 111.28px;
    height: 70.54px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000033;
    background: center/cover no-repeat url("../../assets/img/rct.png");

    @media(min-width: 1400px) {
        display: block;
    }
}

.info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -75px;

    @media(min-width: 768px) {
        flex-wrap: nowrap;
    }

    @media(min-width: 1400px) {
        margin-top: -125px;
    }

    &_item {
        background-color: #778AA9;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-image: url("../../assets/svg/bg-info.svg");
        background-position: bottom 0 right 0;
        background-size: contain;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.96px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #FFFFFF;
        padding: 29px 19px;

        @media(min-width: 1400px) {
            max-width: 330px;
        }

        &_title {
            font-weight: 600;
            margin: 20px 0;
        }
    }
}

.price {
    display: grid;

    gap: 30px;

    @media(min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    &_title {
        margin-bottom: 35px;
    }


    &_item {
        display: flex;
        gap: 38px;
        padding: 48px 45px 57px;
        border: 1px solid #D2D8E3;
        border-radius: 7px;

        &_title {
            font-size: 24px;
            font-weight: 400;
            line-height: 28.44px;
            margin-bottom: 12px;
        }

        &_sum {
            font-size: 20px;
            font-weight: 700;
            line-height: 31px;
            color: #275AAE;

            &_full {
                color: #212529;
                font-weight: 400;
                line-height: 31px;
                position: relative;

                &>span {
                    &:after {
                        content: '';
                        position: absolute;
                        left: -8px;
                        bottom: 46%;
                        height: 2px;
                        background-color: #ED1C24;
                        transform: rotate(-7.57deg);
                        width: 95.78px;
                    }
                }
            }
        }

    }
}