.form {

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    padding: 15px 19px;
    height: fit-content;
    width: 100%;

    @media(min-width: 1400px) {
        max-width: 480px;
        padding: 15px 20px 20px;
    }

    @media(min-width: 1920px) {
        max-width: 570px;
        padding: 23px 30px 30px;
    }


}

.title {
    font-size: 20px;
    font-weight: 600;

    @media(min-width: 1400px) {
        font-size: 25px;

    }
    @media(min-width: 1920px) {
        font-size: 30px;

    }
}

.sub_title {
    color: black;
    font-weight: 400;

}

.input {
    height: 40px;
}

.select {
    width: 100%;
    min-height: 50px;

    &>span {
        &:after {
            display: flex;
            content: '';
            width: 30px;
            height: 30px;
            background: center/cover no-repeat url("../../assets/svg/arrow-red.svg");
        }
    }

    &_label {
        font-size: 13px;
        line-height: 15.41px;
        color: #778AA9;
        margin: 28px 0 15px 0;
    }
}

.omr {
    display: flex;
    gap: 20px;
    margin-top: 23.5px;
    margin-bottom: 10px;

    &_selected {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        text-decoration: underline;
        color: #275AAE;
        display: flex;
        gap: 5px;

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            background: center/cover no-repeat url("../../assets/svg/omr.svg");
        }
    }

    &_noselected {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        color: #778AA9;
        display: flex;
        gap: 5px;
        opacity: 50%;

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            background: center/cover no-repeat url("../../assets/svg/omr.svg");
        }
    }
}

.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 13px;
    gap: 20px;

    @media(min-width: 1400px) {
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        gap: 0;
    }


    &_info {
        display: grid;
        gap: 15px;

        &_title {
            color: #778AA9;
        }

        &_address {
            display: flex;
            font-size: 13px;
            font-weight: 600;

            &:before {
                margin-top: -2px;
                margin-right: 5px;
                content: '';
                width: 20px;
                height: 20px;
                background: center/cover no-repeat url("../../assets/svg/point.svg");
            }
        }
    }
}

.data {
    background-color: #D2D8E3;
    border-radius: 5px;
    padding: 14px 9px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    @media(min-width: 1400px) {
        width: 190px;

    }

    @media(min-width: 1920px) {
        width: 240px;
        padding: 20px;
    }
}

.checkbox {
    font-size: 10px;
    line-height: 11.85px !important;

    &>a {
        text-decoration: underline;
    }
}

.btn {
    font-size: 13px;
    font-weight: 400;

    &_wrp {
        width: 172px;

        @media(min-width: 1920px) {
            width: 200px;
        }
    }
}