.top {
    display: grid;
    gap: 25px;
    margin: auto;
    max-width: 1338px;
    padding: 26px 19px 124px;

    @media(min-width: 1400px) {
        display: flex;
        justify-content: space-between;
  
        padding: 83px 19px 49px;
    }

    @media(min-width: 1920px) {
        max-width: 1448px;
    }

    &_bg {

        background-color: #F0F2F5;
        background-repeat: no-repeat;
        background-image: url("../assets/svg/bg-main.svg");
        background-position: top right;
    }

}

.container {
    display: grid;
    gap: 50px;
    max-width: 1338px;
    padding: 0 19px;
    margin: auto;

    @media(min-width: 1400px) {
        gap: 80px;
    }

    @media(min-width: 1920px) {
        max-width: 1448px;
    }
}

.title {
    font-size: 30px;
    font-weight: 600;

    @media(min-width: 1400px) {
        font-size: 40px;
    }

    @media(min-width: 1920px) {
        font-size: 45px;

    }
}

.sub_title {

    font-weight: 400;
}

.text {
    font-size: 17px;
    line-height: 25px;
    margin-top: 11px;
    max-width: 620px;

    @media(min-width: 1400px) {
        margin-top: 30px;
    }
}

.stats {
    display: none;

    @media(min-width: 1400px) {
        display: block;
    }

    &_wrp {
        display: flex;
        margin-top: 20px;

        @media(min-width: 1920px) {
            margin-top: 78px;
        }

        gap: 50px;

        :nth-child(1) {
            display: block;
        }
    }


    &_value {
        color: #FD4D4D;
        white-space: nowrap;
        font-size: 45px;
        font-weight: 700;
        line-height: 53.33px;

        @media(min-width: 1920px) {
            font-size: 50px;
            line-height: 59.25px;
        }
    }

    &_title {
        white-space: nowrap;
        font-size: 15px;
        font-weight: 400;
        line-height: 17.78px;


        @media(min-width: 1920px) {
            font-size: 18px;
            line-height: 21.33px;
        }
    }
}

.rct {
    display: none;
    margin-top: 214px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000033;

    @media(min-width: 1400px) {
        display: block;
    }
}

.info {

    display: flex;
    flex-wrap: wrap;

    @media(min-width: 768px) {
        flex-wrap: nowrap;
    }

    align-items: center;
    gap: 30px;
    justify-content: space-between;

    &_item {
        background-color: #275AAE;
        margin: auto;
        width: 100%;
        max-width: 450px;
        height: 250px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-image: url("../assets/svg/bg-info.svg");
        background-position: bottom 0 right 0;
        background-size: contain;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.96px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #FFFFFF;
        padding: 29px 19px;

        &_title {
            font-weight: 600;
            margin: 40px 0;
            display: flex;
            justify-content: space-between;

            &:after {
                content: '';
                width: 30px;
                height: 30px;
                background: center/cover no-repeat url("../assets/svg/arrow.svg");
            }
        }
    }
}

.certificate {
    margin: 40px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;

    &_number {
        color: #778AA9;

        &>span {
            font-weight: 700;
            text-decoration: underline;
        }
    }

}

.certificates {

    &_wrp {
        margin-top: 32px;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;

        @media(min-width: 1400px) {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-top: 50px;
        }
    }


    &_text {
        margin: 40px 0;
        font-size: 17px;
        font-weight: 400;
        line-height: 20.15px;
    }

    &>ul {
        display: grid;
        gap: 30px;

        &>li {
            &>a {
                display: flex;
                align-items: center;
                text-decoration: none;
                gap: 10px;

                &:before {
                    content: '';
                    width: 50px;
                    height: 50px;
                    background: center/cover no-repeat url("../assets/svg/pdf.svg");
                }
            }

        }
    }
}

.garant {
    background-color: #FD4D4D;
    border-radius: 10px;
    padding: 45px 17px 42px;
    margin-top: -125px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    letter-spacing: 0.01em;
    background-repeat: no-repeat;
    background-image: url("../assets/svg/bg-garant.svg");
    background-position: bottom 0 right -50px;
    background-size: contain;

    @media(min-width: 1400px) {
        min-width: 480px;
        margin-top: -170px;
        padding: 41px 35px 50px;
    }

    @media(min-width: 1920px) {
        min-width: 570px;
    }

    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 30px;
        font-weight: 700;
        line-height: 35.55px;
        margin-bottom: 37px;

        @media(min-width: 1400px) {
            font-size: 35px;
            font-weight: 700;
            line-height: 41.48px;
            margin-bottom: 61px;
        }

        &:after {
            content: '';
            width: 30px;
            height: 30px;
            background: center/cover no-repeat url("../assets/svg/arrow-down.svg");
        }
    }

    &>ul {
        display: grid;
        gap: 20px;

        &>li {
            display: grid;
            grid-template-columns: 50px 1fr;
            gap: 20px;
            align-items: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.33px;

            @media(min-width: 1400px) {
                font-size: 20px;
                line-height: 23.7px;
            }
        }
    }
}




.price {
    background-color: #F0F2F5;
    margin: 50px 0 0;

    @media(min-width: 1400px) {
        margin: 80px 0 0;
    }

    &_wrp {
        max-width: 1338px;
        padding: 58px 19px 60px;

        @media(min-width: 1920px) {
            max-width: 1448px;
        }

        margin: auto;
    }

    &_items {
        &_wrp {
            display: grid;
            margin-top: 30px;

            @media(min-width: 1280px) {
                grid-template-columns: repeat(3, 1fr);
                margin-top: 35px;
            }

            border-bottom: 1px solid #E4E4E4;
            border-top: 1px solid #E4E4E4;

        }

        &_item {
            display: flex;
            justify-content: space-between;
            padding: 10px 8px 13px;

            @media(min-width: 1280px) {
                padding: 0 35px 0 35px;
            }

            &_label {
                font-size: 18px;
                font-weight: 500;
                line-height: 21.33px;
                letter-spacing: 0.01em;
                margin-bottom: 6px;
            }

            &_sum {
                color: #FD4D4D;

                &>span {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 29.63px;
                    letter-spacing: 0.01em;
                }


            }


            &_wrp {

                @media(min-width: 1280px) {
                    padding: 22px 0;

                    &:first-child {
                        &>div {
                            border: none;
                        }
                    }
                }

                &:last-child {
                    &>div {
                        border: none;
                    }
                }

            }

            &_gray {
                background-color: #FFFFFF;

                @media(min-width: 1280px) {
                    background-color: transparent;
                }

                &>div {
                    border-bottom: 1px solid #E4E4E4;

                    @media(min-width: 1280px) {
                        border-right: 1px solid #E4E4E4;
                        border-bottom: none;
                    }

                }
            }

            &_white {
                &>div {
                    border-bottom: 1px solid #E4E4E4;

                    @media(min-width: 1280px) {
                        border-left: 1px solid #E4E4E4;
                        border-bottom: none;
                    }

                }

                background-color: #FFFFFF;
            }
        }
    }


    &_title {
        font-size: 30px;
        font-weight: 600;
        line-height: 35.55px;
        letter-spacing: 0.01em;
        color: #2B2B2B;
    }
}

.discount {
    display: grid;

    @media(min-width: 1400px) {
        grid-template-columns: 330px 1fr;
    }

    gap: 29px;

    &_title {
        font-size: 40px;
        font-weight: 700;
        line-height: 47.4px;
        color: #FD4D4D;
    }

    &_sub_title {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.44px;
    }

    &_text {
        font-size: 20px;
        font-weight: 400;
        line-height: 23.7px;
        color: #778AA9;
        margin: 18px 0 13px;
    }

}