.top {
    display: grid;
    grid-template-columns: 1fr 570px;
    gap: 34px;
    max-width: 1300px;
    @media(min-width: 1920px) {
        max-width: 1410px;
    }
    margin: auto;

    &_bg{
        padding: 83px 0 214px;
        background-color: #F0F2F5;
        background-repeat: no-repeat;
        background-image: url("../../assets/svg/bg-main.svg");
        background-position:top right;
    }
}

.container {
    display: grid;
    gap: 80px;

    max-width: 1300px;
    @media(min-width: 1920px) {
        max-width: 1410px;
    }
    margin: auto;
}

.title {
    font-size: 45px;
    font-weight: 600;
    line-height: 53.33px;
}

.sub_title {

    font-weight: 400;
}

.text {
    font-size: 17px;
    line-height: 25px;
    margin-top: 30px;
    max-width: 620px;
}

.stats {
    &_wrp {
        display: flex;
        margin-top: 78px;
        gap: 58px;
    }

    &_value {
        color: #FD4D4D;
        font-weight: 700;
        font-size: 100px;
        white-space: nowrap;
    }

    &_title {
        white-space: nowrap;
        font-size: 45px;
        font-weight: 300;
    }
}

.rct {
    width: 111.28px;
    height: 70.54px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000033;
    background: center/cover no-repeat url("../../assets/img/rct.png");
}

.info {
    margin-top: -125px;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    &_item {
        background-color: #778AA9;
        width: 330px;
        height: 250px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-image: url("../../assets/svg/bg-info.svg");
        background-position: bottom 0 right 0;
        background-size: contain;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.96px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #FFFFFF;
        padding: 29px 19px;

        &_title {
            font-weight: 600;
            margin: 20px 0;
        }
    }
}


.price {
    &_wrp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 35px;
    }

    &_title {
        font-size: 30px;
        font-weight: 500;
        line-height: 35.55px;

    }

    &_sum {
        color: #FD4D4D;
        font-size: 20px;
        margin-top: 11.52px;

        &>span {
            font-size: 40px;
            font-weight: 700;
            line-height: 47.4px;
        }

        :last-child {
            font-weight: 400;
        }
    }

    &_btn {
        width: 128px;
        height: 48px;
        padding: 15px 30px 15px 30px;
        border-radius: 4px;
        position: absolute;
        right: 37px;
        bottom: 30px;
    }

    &_item {
        position: relative;
        background-repeat: no-repeat;
        background-image: url("../../assets/svg/bg-price.svg");
        background-position: bottom 0 right 0;
        background-size: contain;
        padding: 35px 10px;
        background-color: rgba(39, 90, 174, 0.1);
        width: 690px;
        height: 200px;
        border-radius: 7px;


        &:last-child {
            padding: 35px 16px;
        }

        &_img {
            margin-top: 9px;
        }


        &_text {
            display: flex;
            gap: 20px;
        }




    }
}