.wrp {
    display: flex;
    max-width: 1338px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 20px 19px 23px;

    @media(min-width: 1400px) {
        padding: 48px 19px 44px;
    }

    @media(min-width: 1920px) {
        max-width: 1448px;
    }

    z-index: 2;

}

.burger {
    width: 30px;
    height: 22px;
    background: center/cover no-repeat url("../../assets/svg/burger.svg");
    cursor: pointer;

    @media(min-width: 1400px) {
        display: none;
    }
}

.cross {
    width: 30px;
    height: 22px;
    background: center/cover no-repeat url("../../assets/svg/cross.svg");
    cursor: pointer;

    @media(min-width: 1400px) {
        display: none;
    }
}

.container {
    background-color: #F0F2F5;
    box-shadow: 0px 4px 10px 0px #0000000D;
    position: relative;

    @media(min-width: 1400px) {
        box-shadow: none;
    }
}

.logo {

    &_wrp {
        display: grid;
        grid-template-columns: 10px 1fr;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        color: #2B2B2B;
    }

    display: flex;

    &_title {
        font-size: 24px;
        font-weight: 500;
        line-height: 28.44px;
    }

    &_link {
        color: #778AA9;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.22px;
        margin-bottom: 5px;
    }

    &_sub_title {
        color: #858585;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.22px;
    }

    &:before {
        content: '';
        width: 10px;
        height: 60px;
        background: center/cover no-repeat url("../../assets/svg/flag.svg");
    }
}

.attestat {

    &_wrp {
        grid-template-columns: 54px 1fr;
        gap: 12px;
        align-items: center;
        display: none;

        @media(min-width: 1400px) {
            display: grid;
        }
    }


    display: flex;

    &:before {
        content: '';
        width: 54px;
        height: 60px;
        background: center/cover no-repeat url("../../assets/svg/gerb.svg");
    }
}

.address {
    color: #275AAE;
    margin-left: 23px;
    font-size: 14px;
    margin-bottom: 4px;
    display: block;
}

.point {
    display: flex;

    &>b {
        white-space: nowrap;
    }

    &:before {

        margin-right: 6px;
        content: '';
        width: 17px;
        height: 17px;
        background: center/cover no-repeat url("../../assets/svg/point.svg");
    }
}

.time {
    color: #275AAE;
    margin-left: 22px;
    font-size: 13px;
    margin-bottom: 8px;
    display: block;
}

.hide {
    display: none;

    @media(min-width: 1400px) {
        display: block;
    }
}

.phone {
    display: flex;

    &_btn {
        @media(min-width: 1400px) {
            display: none;
        }
    }

    &>a {
        color: #2B2B2B;
        text-decoration: none;
    }

    &:before {

        margin-right: 5px;
        content: '';
        width: 17px;
        height: 17px;
        background: center/cover no-repeat url("../../assets/svg/phone.svg");
    }
}