.wrp {
    background-color: #EEF3F9;
    padding: 40px 19px 53px;
}

.content {
    max-width: 1448px;
    margin: auto;
    display: grid;
    justify-content: center;

    @media(min-width: 756px) {
        grid-template-columns: 1fr 1fr 2fr;
    }



    &>div {
        &:last-child {
            display: flex;
            flex-direction: column;
            text-align: center;
            @media(min-width: 756px) {
                align-items: flex-end;
                text-align: end;
            }
        }
    }
}

.btn {
    width: 280px;
    margin-bottom: 34px;
    height: 60px;
}

.text {
    color: #778AA9;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.01em;
}

.links {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #2B2B2B;
    display: none;

    @media(min-width: 756px) {
        display: block;
    }
}

.policity {
    line-height: 35px;
    display: block;
    color: #778AA9;
    text-decoration: underline;
}