.form {
    display: grid;
    gap: 15px;
    background-color: #D2D8E3;
    padding: 61px 90px 65px;
}

.wrp {
    display: grid;

    @media(min-width: 1400px) {
        grid-template-columns: 1fr 1fr;
    }
}

.input {
    &_label {
        font-size: 14px;
        font-weight: 600;
        line-height: 16.59px;
        color: #778AA9;
        margin-bottom: 13px;
    }
}

.time {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;

    &_btn {
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        border: 1px solid #E3EBFC;
        border-radius: 5px;
        padding: 8px 0;
        width: 125px;
    }
}

.calendar {
    padding: 63px 90px;
}

.text {
    margin: 35px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.container {
    max-width: 1338px;
    padding: 0 19px;
    margin: 50px auto 0;

    @media(min-width: 1400px) {
        margin-top: 80px;
    }

    @media(min-width: 1920px) {
        max-width: 1448px;
    }
}