.form {
    display: grid;
    gap: 15px;
    background-color: #D2D8E3;
    padding: 17px 10px 35px;
    border-radius: 0px 0px 7px 7px;

    @media(min-width: 1400px) {
        padding: 61px 90px 65px;
        border-radius: 0;
        border-radius: 0px 7px 7px 0px;
    }
}

.wrp {
    display: grid;

    @media(min-width: 1400px) {
        grid-template-columns: 1fr 1fr;
    }
}

.input {
    min-width: 100% !important;

    &_label {
        font-size: 14px;
        font-weight: 600;
        line-height: 16.59px;
        color: #778AA9;
        margin-bottom: 13px;
    }
}

.time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 35px;


    &_btn {
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        border: 1px solid #E3EBFC;
        border-radius: 5px;
        padding: 8px 14px;
        flex: 1;


        @media(min-width: 1400px) {
            width: 125px;
        }
    }
}

.calendar {
    border: 1px solid #E3EBFC;
    padding: 15px 10px 26px;
    border-radius: 7px 7px 0px 0px;

    @media(min-width: 1400px) {
        border-radius: 7px 0px 0px 7px;
    }

    @media(min-width: 1400px) {
        padding: 63px 90px;
    }

}

.text {
    margin: 35px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.container {
    max-width: 1338px;
    padding: 0 19px;
    margin: 50px auto 0;

    @media(min-width: 1400px) {
        margin-top: 80px;
    }

    @media(min-width: 1920px) {
        max-width: 1448px;
    }
}

.btn {
    min-width: 280px;
    border-radius: 5px;

    &_wrp {
        display: flex;
        gap: 28px;
        flex-direction: column-reverse;
        @media(min-width: 1400px) {
           flex-direction: row;
        }
    }
}

.checkbox {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.41px;
    &>a{
        text-decoration: underline;
    }
}